.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 70px 0;

  &__image img {
    width: 220px; // Taille de base de l'image
    height: auto;
    border-radius: 80%;
    margin-right: 20px;
  }

  &__text {
    flex: 1;
  }

  h2 {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }

  p {
    color: whitesmoke;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__image {
      order: 2; // Met l'image après le texte
      text-align: center;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__image img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }

    &__text {
      order: 1; // Met le texte avant l'image
    }
  }
}
