.skills {
    margin-top: 100px;
    color: white;

    .skills__title {
        font-weight: bold;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }

    .skills__list {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        .skills__category {
            width: 25%;
            padding: 20px;
            background-color: rgb(67, 66, 66, 0.2);
            border-radius: 10px;

            h3 {
                display: grid;
                justify-content: center;
                font-weight: bold;
                font-size: 28px;
                margin-bottom: 18px;
            }

            ul {
                display: grid;
                gap: 10px;

                li {
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: whitesmoke;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
